VITE_GEMINI_API_KEY=VITE_GEMINI_API_KEY
VITE_SUPABASE_URL=VITE_SUPABASE_URL
VITE_SUPABASE_ANON_KEY=VITE_SUPABASE_ANON_KEY

# --- Supabase Email / SMTP Settings ---
SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_USER=resend
SMTP_PASSWORD=SMTP_PASSWORD
SMTP_SENDER_NAME="SMTP_SENDER_NAME"

# --- Razorpay Payment Integration ---
VITE_RAZORPAY_KEY_ID="VITE_RAZORPAY_KEY_ID"
RAZORPAY_KEY_SECRET="RAZORPAY_KEY_SECRET"